.projectsh1{
	width: 100%;
	font: 400 35px/1.3 'Merienda One', Helvetica, sans-serif;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

#project_overview{
	display: inline-block;
}

/*this exists because without this, the buttons float to the right and unalign the header, it is here because all projects will use this, GLOBAL to projects*/
.button_holder_space{
	width: 100%;
	height: 100px;
}

.button_holder{
	position: relative;
	float: right;
}

.projectsh1h1{
	width: 100%;
	font: 400 33px/1.3 'Merienda One', Helvetica, sans-serif;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
