.list-group-item-resume {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}


#chart {
  text-align: left;
  margin: 32px;
  background-color: #E6E6E6;
  float: right;
}



/*like an add on to resume only*/
.limit-width-500 {
    width: 500px;
}